.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 24px 0 24px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 96px;
}

.contact-content {
  max-width: 500px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.contact-content form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  padding-bottom: 7px;
}

.contact-content form > *:not(:last-child) {
  font-family: inherit;
  background-color: rgba(21, 32, 46, 0.75);
  border: none;
  color: white;
  margin-bottom: 8px;
  padding-left: 12px;
  font-size: 16px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.contact-content form > *:not(:last-child)::placeholder {
  color: rgb(153, 153, 153);
}

.contact-content form > *:not(:last-child):focus {
  outline: 1px solid rgb(153, 153, 153);
}

.contact-content form > input {
  height: 36px;
}

.contact-content form > textarea {
  resize: none;
  height: 116px;
  padding-top: 12px;
}

.contact-content form .main_div {
  margin-left: auto;
  margin-right: 7px;
}

.contact-content form .main_div button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

@media (max-width: 550px) {
  .contact {
    padding-top: 0;
  }
}
