html {
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  overflow-x: initial;
}

body {
  color: white;
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-color: #0c0d13;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
  font-size: 18px;
  font-weight: 300;
  z-index: 1;
}

body > * {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.background {
  position: fixed;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #000000 100%);
}

.section {
  scroll-margin-top: 44px;
}

h1 {
  font-weight: 300;
  font-size: 56px;
  margin-bottom: 48px;
}

h1.shadow {
  position: absolute;
  transform: translate(30%, 25%) scale(1.5);
  opacity: 0.05;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 24px;
}

h2.shadow {
  position: absolute;
  transform: translate(30%, 35%) scale(1.5);
  opacity: 0.05;
}

.footer {
  height: 160px;
  width: 100%;
  background-color: rgba(21, 32, 46, 0.75);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  overflow: initial;
  position: relative;
}

.footer .back-to-top {
  position: absolute;
  top: -15px;
  background-color: rgb(211, 72, 72);
  color: white;
  width: 120px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.footer a {
  color: white;
}

.footer i {
  font-size: 48px;
  cursor: pointer;
  transition: 0.3s;
}

.footer i:hover {
  color: rgb(211, 72, 72);
}

@media (max-width: 800px) {
  h1 {
    font-size: 44px;
  }
}

@media (max-width: 550px) {
  h1 {
    margin-bottom: 24px;
  }
}
