.nav-bar {
  height: 60px;
  width: 100%;
  background-color: rgba(21, 32, 46, 0.75);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 24px;
  z-index: 3;
  box-sizing: border-box;
  padding: 0 80px 0 80px;
}

.nav-bar button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
}

.nav-bar button:hover {
  color: rgb(211, 72, 72);
}

@media (max-width: 800px) {
  .nav-bar {
    justify-content: center;
    height: 44px;
  }

  .nav-bar button {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .nav-bar {
    column-gap: 0;
    padding: 0;
    justify-content: space-evenly;
  }
}
